@css {
  @import "reset.css";
}

vendor(prop, args)
  -moz-{prop} args
  -webkit-{prop} args
  {prop} args

border-radius()
  vendor("border-radius", arguments)

body
  background #F3F1E5
  font-family "Helvetica Neue", Arial, sans-serif

#container
  width 500px
  margin 40px auto
  padding 20px
  border-radius 8px

h1
  text-align center
  font 3em Helvetica Neue
  text-shadow 0 1px 1px #000
  color #444