@import "reset.css";
body {
  background: #f3f1e5;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
#container {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
h1 {
  text-align: center;
  font: 3em Helvetica Neue;
  text-shadow: 0 1px 1px #000;
  color: #444;
}
